{% load static %}
<script src="{% static "js/jquery-1.12.0.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/isotope.pkgd.min.js" %}"></script>
<script src="{% static "js/imagesloaded.pkgd.min.js" %}"></script>
<script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
<script src="{% static "js/jquery.meanmenu.js" %}"></script>
<script src="{% static "js/plugins.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>